@{
    ViewData["Title"] = "MainPage";
    
}

<div class="text-center">
    <h1 class="display-2 text-primary">WELCOME STUDENT </h1>
    <p class="text-center font-weight-bold text-monospace"> Select one of the following to proceed!</p>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg mr-3" asp-controller="User" asp-action="Login">LOG IN</button>
    <button type="button" class="btn btn-primary btn-lg" href="https://localhost:44389/SignUp" >SIGN UP</button>
</div>